{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1>Virat Kohli is an Indian international cricketer considered by many as one of the greatest batsmen in the history of the game.</h1>
        <h2>Kohli plays for (and previously captained) the Royal Challengers Bangalore (RCB) in the Indian Premier League (IPL). </h2>
        <img src="{% static 'images/v4.jpg' %}" alt="No Image" height="300px" width="200px">
    </center>
</body>
</html>